
{% extends 'base.html' %} 

{% load static %}

{% block content %}

<div class="border bg-light"  style="min-height:600px">


 
 
  {% include 'projects/projects_navbar.html' %}

  {% if projects %}

    
      
      <div class="container d-flex justify-content-between list-unstyled border border-bottom-0 bg-white  p-3" >
          
        

        <form class="d-inline-block p-0  m-0">
             <select style="width:200px" class="h-100 d-inline-block form-select  rounded-0 shadow-none p-1 m-0" aria-label=".form-select-sm example">
              <option selected></option>
              <option >By Donor</option>
              <option >By Status Category</option>
              <option >By Implementing Agencies</option>
            </select> 

            <button class="h-100  btn btn-sm btn-outline-success rounded-0 m-0  " type="submit" > <small><span class="me-2 ">Generate <span class="fw-bold">Report </span></span><i class="bi bi-clipboard-data-fill"></i></small> </button>
        </form>

       
      <form class="d-inline-block  p-0 m-0 " method="post" action="{% url 'export-projects' %}">
        {% csrf_token %}
        <input id="data" type="hidden" name="data" value="{{serialized_projects}}">
       <button class="h-100 btn btn-sm btn-outline-success rounded-0 m-0" type="submit" > <small><span class="me-2 ">Export <span class="fw-bold">Data </span></span><i class="bi bi-file-earmark-excel-fill"></i></small> </button>
       </form>

  </div>


  <div class="container bg-white p-2 border">
  <table class="table table-hover table  table-sm  border ">
    <thead class="thead-light  " >
      <tr >
        <th scope="col">Title</th>
        {% if request.user.is_authenticated %}
        <th scope="col">Project Status</th>
        {% endif %}
        <th scope="col">Status Category</th>
        <th scope="col">Donors</th>
        <th scope="col">Implementors</th>
        <th scope="col">Partners</th>
        <th scope="col">Tags</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      {% for project in projects %}
      
      <tr>
        <td><small class=""><a href="{% url 'project' project.id %}" class="text-decoration-none"> {{project.title}}</a></small></td>
        {% if request.user.is_authenticated %}
        <td><small>{{project.status}}</small></td>
        {% endif %}


        <td><small>{{project.status.category}}</small></td>
        
        <td>
          {%if project.donors.all %}
          {%for  donor in project.donors.all %}
          <small class="badge badge-sm bg-success">{{donor}}</small>
          {% endfor %}
          {%else%}
          <small class="text-secondary fw-light text-italic">no donors</small>
          {% endif %}
        </td>

        <td>
          {%if project.implementors.all %}
          {%for  implementor in project.implementors.all %}
          <small class="badge badge-sm bg-success">{{implementor}}</small>
          {% endfor %}
          {%else%}
          <small class="text-secondary fw-light text-italic">no implementors</small>
          {% endif %}
        </td>

        <td>
          {%if project.partners.all %}
          {%for  partner in project.partners.all %}
          <small class="badge badge-sm bg-success">{{partner}}</small>
          {% endfor %}
          {%else%}
          <small class="text-secondary fw-light text-italic">no partners</small>
          {% endif %}
        </td>



        <td>
          {%if project.tags.all %}
          {%for  tag in project.tags.all %}
          <small class="badge badge-sm bg-warning">{{tag}}</small>
          {% endfor %}
          {%else%}
          <small class="text-secondary fw-light text-italic">no tags</small>
          {% endif %}
        </td>


       
        
        <td > 
          <small class="d-flex"> 
            <button type="button" class=" btn btn-sm btn-outline-secondary p-2 pt-1 pb-1"> <i class="bi bi-eye"></i></button> 
            <button type="button" class=" btn btn-sm btn-outline-secondary p-2 pt-1 pb-1"> <i class="bi bi-file-earmark-text"></i></button> 
          </small>
        </td>
      </tr>

      {% endfor %}
     
    </tbody>
  </table>

  {% include 'pagination.html' with queryset=projects custom_range=custom_range %}
</div>


  {% else %}

  <div class="container border border-bottom-0 p-2 bg-white ">
    <p>There are no projects available</p>
  </div>
  {% endif %}

  
  {% include 'projects/add_modal.html' %}

  
</div>





{% endblock %}
