
{% load static %}

<link rel="stylesheet" href="{% static 'projects/styles/main.css' %}"></link>


<nav
  class="navbar navbar-expand-lg bg-white container border  mb-3  mt-3"
>



  
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse  p-1" id="navbarNav">
      
      
      <form class="p-1">
        <p> <span class="fw-bold me-2">Filters</span> <small class="text-mute fw-light">(Use the filter to narrow down your search for projects)</small></p>
        <div class="row g-2">

          <div class="col">
            <div class="p-1"><small> Project Keywords</small></div>
            <input  class="form-control form-control-sm rounded-end-0  border-0 border-bottom shadow-none" type="text" placeholder="title, description" name="keywords" value="{{selected.keywords}}">
          </div>

          <div class="col">
            <div class="p-1"><small> Tags</small></div>
            <input  class="form-control form-control-sm rounded-start-0 border-0 border-bottom shadow-none" type="text" placeholder="eg. complex" name="tags" value="{{selected.tags}}" >
          </div>
        
          {% if request.user.is_authenticated %}
          <div class="col">
            <div class="p-1"><small> Status</small></div>
         <select name="status" class="form-select form-select-sm rounded-0 shadow-none " aria-label=".form-select-sm example">
          <option></option>
          {% for status in search_filters.statuses %}
          <option value="{{status}}" {% if status.status == selected.selected_status %} selected {% endif %}>{{status}}</option>
          {% endfor %}
        </select>
         </div>
         {% endif %}
        
        <div class="col">
          <div class="p-1"><small> Status Category</small></div>
        <select name="category" class="form-select form-select-sm rounded-0 shadow-none" aria-label=".form-select-sm example">
          <option></option>
          {% for category in search_filters.categories %}
          <option value="{{category}}" {% if selected.selected_category == category.name %}selected{% endif %}>{{category}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <div class="p-1"><small> Donor</small></div>
        <select name="donor" class="form-select form-select-sm rounded-0 shadow-none" aria-label=".form-select-sm example">
          <option ></option>
          {% for donor in search_filters.donors %}
          <option value="{{donor}}" {%if selected.selected_donor == donor.name %}selected{% endif %}>{{donor}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <div class="p-1"><small> Implementor</small></div>
        <select name="implementor" class="form-select form-select-sm rounded-0 shadow-none" aria-label=".form-select-sm example">
          <option></option>
          {% for implementor in search_filters.implementors %}
          <option value="{{implementor}}" {% if selected.selected_implementor == implementor.name %} selected {% endif %}>{{implementor}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <div class="p-1"><small> Partner</small></div>
        <select name="partner" class="form-select form-select-sm rounded-0 shadow-none" aria-label=".form-select-sm example">
          <option></option>
          {% for partner in search_filters.partners %}
          <option value="{{partner}}" {% if selected.selected_partner == partner.name %} selected {% endif %}>{{partner}}</option>
          {% endfor %}
        </select>
      </div>

        <div class="col">
          <div class="p-1"><small> Project Type</small></div>
        <select name="type" class="form-select form-select-sm rounded-0 shadow-none" aria-label=".form-select-sm example">
          <option></option>
          {% for type in search_filters.types %}
          <option value="{{type}}" {% if type.name == selected.selected_type %} selected {% endif %} >{{type}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <div class="p-1"><small> Risk</small></div>
        <select name="risk" class="form-select form-select-sm rounded-0 shadow-none" aria-label=".form-select-sm example">
          <option ></option>
          {% for risk in search_filters.risks %}
          <option value="{{risk}}" {% if selected.selected_risk == risk.rate %} selected {% endif %}>{{risk.description}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col  position-relative">
        
        <button class="btn btn-sm btn-outline-success rounded-0 position-absolute bottom-0 end-0 me-2" type="submit" > <small><span class="me-2 ">Find <span class="fw-bold">projects </span></span><i class="bi bi-binoculars-fill"></i></small> </button>
      </div>

      </div>
      </form>
    

    </div>


{% comment %}  Testing {% endcomment %}
    <div class="container d-flex justify-content-between list-unstyled border border-bottom-0 bg-white  p-3" >
          
        

      <form class="d-inline-block p-0  m-0" method="post" action="{% url 'generate-report' %}">
        {% csrf_token %}
        <input id="data" type="hidden" name="data" value="{{serialized_projects}}">
           <select name="filter_group" style="width:200px" class="h-100 d-inline-block form-select  rounded-0 shadow-none p-1 m-0" aria-label=".form-select-sm example">
            <option ></option>
            <option value="{{report_by.donors}}">By Donor</option>
            <option value="{{report_by.implementors}}">By Implementing Agencies</option>
            <option value="{{report_by.status}}">By Status Category</option>
          </select> 

          <button class="h-100  btn btn-sm btn-outline-success rounded-0 m-0  " type="submit" > <small><span class="me-2 ">Generate <span class="fw-bold">Report </span></span><i class="bi bi-clipboard-data-fill"></i></small> </button>
      </form>

     
    <form class="d-inline-block  p-0 m-0 " method="post" action="{% url 'export-projects' %}">
      {% csrf_token %}
      <input id="data" type="hidden" name="data" value="{{serialized_projects}}">
     <button class="h-100 btn btn-sm btn-outline-success rounded-0 m-0" type="submit" > <small><span class="me-2 ">Export <span class="fw-bold">Data </span></span><i class="bi bi-file-earmark-excel-fill"></i></small> </button>
     </form>

</div>
{% comment %}  {% endcomment %}

    
</nav>
